body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    scrollbar-color: black;
    scrollbar-shadow-color: #555;
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, rgb(252, 114, 114), rgb(9, 245, 166));
}

#bar {
    color: white;
    padding: 20px;
    width: 100%;
    background: linear-gradient(90deg, black, red);
    margin-bottom: 10px;
}

.bonjour {
    color: beige;
    text-decoration: beige;
    padding: 5px;
    float: right;
    transition: 1s;
}

#id {
    float: left;
}

.text {
    background-color: white;
    color: black;
    font-size: 50px;
    mix-blend-mode: screen;
}

.active {
    background-color: white;
    color: black;
}

.bonjour:hover {
    box-shadow: 18px 8px 20px 0 grey;
    border-radius: 20px;
    color: black;
    background-color: white;
    padding: 5px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    background: linear-gradient(90deg, rgb(226, 226, 226), rgb(3, 93, 228));
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background: linear-gradient(40deg, white, black);
    color: white;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}