        * {
            box-sizing: border-box;
        }
        
        body {
            background-image: url("https://423841.smushcdn.com/884745/wp-content/uploads/2018/11/mousshaf-Saint-Coran.jpg?size=662x337&lossy=1&strip=1&webp=1");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            height: 100%;
        }
        
        #btn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            border: none;
            outline: none;
            background: linear-gradient(50deg, red, white);
            color: white;
            cursor: pointer;
            padding: 20px;
            border-radius: 10%;
        }
        
        .navbar .icon {
            display: none;
            background-color: white;
            width: 20px;
        }
        
        @media screen and (max-width: 600px) {
            .navbar a:not(:first-child) {
                display: none;
            }
            .navbar a.icon {
                float: left;
                display: block;
            }
        }
        
        @media screen and (max-width: 600px) {
            .navbar.responsive {
                position: relative;
            }
            .navbar.responsive .icon {
                position: absolute;
                left: 0;
                top: 0;
            }
            .navbar.responsive a {
                float: none;
                display: block;
                text-align: right;
                height: 100%;
            }
        }
        
        #navbar {
            color: white;
            padding: 20px;
            width: 100%;
            background: linear-gradient(90deg, black, red);
            margin-bottom: 10px;
        }
        
        .bonjour {
            color: beige;
            text-decoration: beige;
            padding: 5px;
            float: right;
            transition: 1s;
        }
        
        #id {
            float: left;
        }
        
        a:hover {
            color: black;
            background-color: white;
            padding: 5px;
        }
        
        .active {
            background-color: white;
            color: black;
        }
        
        .bonjour:hover {
            box-shadow: 18px 8px 20px 0 grey;
            border-radius: 20px;
        }